.menu
  .position
    #digite
      | Digite um nome:
    .input 
        input.js_input(type="text", placeholder="Digite seu nome aqui")
        button.js_button Busca

  .subviews-boxlist

  .perfil

  .not_found.js_notfound
    | Não encontrado, procure novamente!

