#header-container{
  origin: 0px 0px;
  width: 100%;
  height: 50px;
  background-color: #6495ED;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  position: fixed;
  z-index: 5;
}

.js_welcome{
  display: inline-block;
  color: white;
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
  font-size: 2em;
  text-decoration: none;
}



