#header-container{
  width: 100%;
  height: auto;
  background-color: #6495ED;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  position: fixed;
}


.js_welcome{
  display: inline-block;
  color: white;
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
  font-size: 2em;
  text-decoration: none;
}



